line-length = 100
target-version = "py312"

[lint]
select = [
    "E",  # pycodestyle errors
    "W",  # pycodestyle warnings
    "F",  # pyflakes
    "I",  # isort
]
ignore = []

[lint.isort]
known-first-party = ["src"]
